@(Html.X().Panel()
    .Header(false)
    .Region(Region.North)
    .Border(false)
    .Height(90)
    .Content(
        @<text>
			@*<div class="sup-header">
				<div class="notification small">
					<a href="http://ext.net/store/">
					<strong class="text-danger">SALE</strong>
					Big discounts on all Ext.NET Pro Bundles. Ends May 31.
					</a>
				</div>
			</div>*@
			<div class="header">
                <div class="left">
					<div class="title">
						MVC Examples Explorer <span class="title-sub">(Version 2.3)</span>
					</div>
					<div class="badge">
						Built with Ext.NET
					</div>
				</div>
				<div class="right">
                    <div class="button-group">
						<a class="button" href="http://examples.ext.net/"><span class="f-icon-cogs"></span> WebForm Demos</a>
						<a class="button" href="http://examples1.ext.net"><span class="f-icon-cogs"></span> V1 Demos</a>
						<a class="button" href="http://ext.net"><span class="f-icon-home"></span> Home</a>
                    </div>
				</div>
			</div>
        </text>
    )
)